<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sportsboards2d"
      android:versionName="1.13" android:versionCode="13">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
<supports-screens android:largeScreens="true"></supports-screens>
<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="10"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:label="@string/app_name" android:screenOrientation="landscape" android:name="Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:screenOrientation="landscape" android:name="SoccerBoard"></activity>
        <activity android:screenOrientation="landscape" android:name="BBallBoard"></activity>
        <activity android:screenOrientation="landscape" android:name="HockeyBoard"></activity>
        <activity android:screenOrientation="landscape" android:name="RingetteBoard"></activity>
        <activity android:screenOrientation="landscape" android:name="FootballBoard"></activity>
        <activity android:screenOrientation="landscape" android:name="SaveForm"></activity>
        <activity android:screenOrientation="landscape" android:name="DeleteForm"></activity>
        <activity android:screenOrientation="landscape" android:name="LoadForm"></activity>
        <activity android:screenOrientation="landscape" android:name="CreatePlayer" android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity android:screenOrientation="landscape" android:name="ViewPlayers"></activity>
        <activity android:screenOrientation="landscape" android:name="SettingsViewer"></activity>
        <activity android:screenOrientation="landscape" android:name="SelectPlayer"></activity>

    </application>
</manifest>